.profileMenu div{
    /* background-color: yellow; */
    font-size: 20px;

}

.innerProfile li {
    padding: 5px;
    border-bottom: thin solid gray;
}

#logout {
    cursor: pointer;
}

.NavImg {
    background-color: whitesmoke;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /* border: thin white solid */
}