.profileMenu {
    position: absolute;
    background-color: #fff;
    top: 1rem;
    right: .7rem;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    cursor: pointer;
}

.menuHolder li {
    list-style-type: none;
}

.outerMenu img {
    position: absolute;
    height: 2rem;
    right: 1.2rem;
    top: 1.5rem;
    background-color: #fff;
    z-index: 9999;
    cursor: pointer;
}

.menu {
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    background-color: #fff;
    color: black;
}

.menuHolder {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 1em;
    font-size: 1.9rem;
    padding: 0 1em;
}


#logout {
    cursor: pointer;
}
