.randomRollerCont {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.638);
}

.randomRollerCont form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 70px 0;
}

.randomRollerCont fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 13rem;
    flex-wrap: wrap;
    max-height: 27rem;
    border: none;
    overflow: scroll;
}

.mainHolder img {
    z-index: 10;
    position: relative;
    border-radius: 10px;
    max-width: 55px;
    max-height: 55px;
}

.randomRollerCont h2 {
    color: #fff;
    font-size: 50px;
    font-family: 'Staatliches';
    margin-bottom: 5%;
}

.mainHolder {
    background-color: red;
    display: flex;
    justify-content: center;
    width: 20em;
    height: 3.8rem;
    margin: 10px;
    border-radius: 20px;
}

.labels {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainHolder h5 {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    width: 12em;
    font-family: 'Lato';
}

.randomSelect1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.randomSelect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height:60%;
    padding: 20px;
    margin: 10px;
    padding: 10px;
}

.randomCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomSelect img {
    max-height: 300px;
    border-radius: 20px;
    margin-bottom: 70px;
}

.randomSelect h5 {
    font-family: "Lato";
    font-size: 30px;
}

.unchecked {
    opacity: 0.5;
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 10px;
    border-radius: 20px;
}

.unchecked img {
    opacity: 0.2;
}

.unchecked h5 {
    font-family: "Lato";
    display: flex;
    justify-content: center;
    opacity: 0.5;
    font-size: 20px;
}

#MainButton {
    background-color: red;
    border: thin solid black;
    border-radius: 50%;
    height: 80px;
    font-size: 24px;
    width: 80px;
    border: none;
    outline: none;
    box-shadow: 0px 5px 5px 7px black;
    margin-top: 50px;
}

#reroll {
    width: 150px;
    background-color: rgba(12, 190, 255, 0.939);
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-right: 10px;
    font-family: "Staatliches";
    font-size: 2em;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.638);
}

#addToVis {
    width: 180px;
    background-color: rgba(12, 190, 255, 0.939);
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-left: 10px;
    font-size: 2em;
    font-family: "Staatliches";
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.638);
}

.buttonHolder {
    padding: 10px
}

.holdingResName {
    margin-bottom: 20px;
    color: white;
}