
.randomRollerCont {
    /* background-color: teal; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-left: 100px; */
}

.randomRollerCont form {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    background-color: rgba(0, 0, 0, 0.638);
    padding: 20px 0 70px 0;
}

.randomRollerCont > div{
    background-color: red;
}

.randomRollerCont fieldset {
    box-shadow: 0px 5px 100px 6px rgba(0, 0, 0, 0.638);
    height: auto;
    display: flex;
    min-width: 1108px;
    flex-wrap: wrap;
    margin: 20px 230px 0px 230px;
    border-radius: 20px;
    /* background-color: white; */
    background-color: rgba(0, 0, 0, 0.8);
}

.randomRollerCont img {
    z-index: 10;
    position: relative;
    /* padding: 20px; */
}

.mainHolder input {
    width: 25px;
    height: 25px;
    /* vertical-align: middle; */
    border: 1px solid #ddd;
    outline: none;
    border-radius: 50%;
    margin-left: 80px;
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.638);  
    padding-bottom: 30px;
}

.homepage {
    background-color: black;
}

.mainHolder {
    background-color: red;
    width: 200px;
    height: 250px;
    padding: 20px;
    margin: 10px;
    padding: 10px;
}

/* .labels {
    display: flex;
} */

.labels h5 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 180px;
    height: 60px;
}

.randomRollerCont .labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 100px; */
    margin-top: 10px;
}


.randomSelect {
    /* width: 100%; */
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
    border: thin black solid;
    background-color: white;
    box-shadow: 0px 0px 100px 5px black;
    border-radius: 150px;
}

.randomCont {
    border: thin black solid;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomSelect img {
    margin: 0;
    padding: 20px;
    /* width: 300px;
    height: 300px; */
}

.randomSelect h5 {
    font-size: 20px;
}

.randomCont {
    background-image: url('../HomePage/back.jpg');
    background-size: 100%;
    /* z-index: -1; */
}