.listing {
    overflow: scroll;
    /* background-color: red; */
    width: 560px;
    height: 700px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.listing li {
    display: flex;
    list-style-type: none;
    background-color: white;
    font-size: 20px;
    padding: 5px 20px;
    width: 500px;
    min-height: 140px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
    margin: 15px 0;
    /* overflow: scroll; */
    /* background-color: purple; */
}

.innerLi {
    display: flex;
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.innerLi button {
    /* background-color: blue; */
    background-color: black;
    color: white;
    bottom: 1;
    position: relative;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, .5);
    outline: none;
    margin-bottom: 10px;
}

.innerLi div{
    display: flex;
    align-items: center;
    width: 168px;
}

#line {
    /* background-color: purple; */
    /* height: 5px; */
    display: flex;
    align-items: center;
    margin: 0;
    /* margin-top: 20px; */
} 

.listing li img {
    margin-right: 10px;
    margin-left: 10px;
    /* max-width: 128px;
    max-height: 128px; */
    /* opacity: 1; */
}

.listing li span {
    /* margin-left: 30px; */
    font-family: "Staatliches";
    opacity: 1;
}

.message {
    /* background-color: purple; */
    font-size: 20px;
}

.Tab {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, .0);
}

.MuiTabs-scroller {
    /* color: white; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0, 0, 0, .1);
}

.makeStyles-root-1 {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
    opacity: .8;
}

.MuiTabs-root {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
}

.MuiBox-root {
    background-color: rgba(0, 0, 0, .1);
}

#vertical-tabpanel-0 {
    background-color: rgba(0, 0, 0, .1);
}

#vertical-tabpanel-1 {
    background-color: rgba(0, 0, 0, .1);
}

img.list {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: thin solid black;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .5);
}

.holdingName {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.innerLi p {
    font-size: 15px;
}

#add {
    font-size: 13px;;
}

.AddFavs {
    margin-left: 10px;
}

.FavListInfo {
    margin-left: 20px;
}