.listing {
    overflow: scroll;
    /* background-color: red; */
    min-height: 500px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
}

.listing li {
    display: flex;
    list-style-type: none;
    background-color: white;
    font-size: 20px;
    padding: 5px 20px;
    width: 100%;
    min-height: 140px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
    margin: 5px;
    /* overflow: scroll; */
    /* background-color: purple; */
}

.innerLi {
    display: flex;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5); */
}

.innerLi button {
    background-color: blue;
    /* position: absolute; */
    position: relative;

    bottom: 0;
    width: 100px;
    height: 40px;
   border-radius: 5px;
}

.innerLi div{
    display: flex;
    align-items: center;
    width: 168px;
}

#line {
    /* background-color: purple; */
    /* height: 5px; */
    display: flex;
    align-items: center;
    margin: 0;
    /* margin-top: 20px; */
} 

.listing li img {
    margin-right: 30px;
    margin-left: 10px;
    /* max-width: 128px;
    max-height: 128px; */
    /* opacity: 1; */
}

.listing li span {
    margin-left: 30px;
    font-family: "Staatliches";
    opacity: 1;
}

.message {
    /* background-color: purple; */
    font-size: 20px;
}

.Tab {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 520px;
    max-height: 560px;
    overflow: scroll;
    background-color: rgba(0, 0, 0, .0);
}

.MuiTabs-scroller {
    /* color: white; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0, 0, 0, .1);
}

.makeStyles-root-1 {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
    opacity: .8;
}

.MuiTabs-root {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
}

.MuiBox-root {
    background-color: rgba(0, 0, 0, .1);
}

#vertical-tabpanel-0 {
    background-color: rgba(0, 0, 0, .1);
}

#vertical-tabpanel-1 {
    background-color: rgba(0, 0, 0, .1);
}

svg.list {
    width: 25px;
    height: 25px;
    /* fill: red; */
    /* color: red; */
    /* background-color: red; */
}