
.homepage {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.choices {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices strong {
    /* background-color: cyan; */
    font-size: 30px;
    border-bottom: thin solid black;
    padding-bottom: 20px;
    /* z-index: 0; */
    color: blue;
    cursor: pointer;
}

.choices h5 {
    font-size: 25px;
    position: absolute;
    z-index: 10;
    margin-top: 40px;
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px 10px;
}

.choices form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

