
.homepage {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.choices {
    /* margin-top: 200px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.choices strong {
    font-family: "Lato";
    font-size: 20px;
    color: blue;
    cursor: pointer;
    padding-right: 25px;
    border-right: thick solid black;
    height: 100px;
    display: flex;
    align-items: center;
}

.choices form {
    margin-top: 20px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.choices form label {
    font-family: "Lato";
    font-weight: 400;
    margin-bottom: 10px;
}

.choices input {
    outline: none;
    border: none;
    border-bottom: thin solid black;
    background-color: rgba(255, 255, 255, 0);
}

.choices button {
    margin-top: 20px;
    width: 100px;
    background-color: rgba(12, 190, 255, 0.939);
    outline: none;
    border-radius: 20px;
}

.homeCont {
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.8);
    width: 500px;
    height: 300px;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0px 1px 50px 20px black;
}

.homeCont h2 {
    font-family: "Staatliches";
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.zipError {
    font-family: "Staatliches";
}

.innerHome {
    /* background-color: teal; */
    width: 510px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    box-shadow: 0px 1px 50px 20px black;
}
