.profile{
    font-family: "Staatliches", cursive;;
    /* background-color: blue; */
    width: 100vw;
    height: 100vh;
    z-index: 20;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .4);

}

.innerProfile {
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
    min-width: 1200px;
    height: 800px;
    margin-top: 130px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
}
 
.profile li {
    font-family: "Lato", sans-serif;
    /* color: white */
}

.profile strong {
    font-family: "Staatliches", cursive;
    color: gray
}

.userInfo {
    color: white;
}

.MuiTab-wrapper {
    font-family: "Staatliches", cursive;;
}

.profileInfo {
    /* background-color: slateblue; */
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.profileInfo li {
    list-style-type: none;
    padding: 15px;
    font-size: 30px;
}

#avatar {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    /* border: thin solid #113311; */
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.6);
}

.profileInfo div {
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

.tabs {
    /* background-color: red; */
    width: 700px;
}

.editCont {
    display: flex;
    justify-items: end;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    width: 180px;
    color: white;
}

#editIcon {
    /* background-color: purple; */
    position: absolute;
    margin-top: 190px;
    margin-left: 100px;
    box-shadow: none;
    border-radius: 0;
    width: 25px;
    height: 25px;
    /* z-index: -1; */
}

#newPhoto {
    background-color: purple;
    /* z-index: 10; */
    width: 22px;
    margin-top: 195px;
    margin-left: 175px;
    opacity: 0;
}

.userInfo {
    margin-top: 30px;
}

#FavsRoll {
    padding: 10px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    overflow: hidden;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .6);
    outline: none;
}