.profile{
    /* background-color: blue; */
    width: 100vw;
    height: 100vh;
    z-index: 20;
    display: flex;
    justify-content: space-around;

}

.profileInfo {
    /* background-color: slateblue; */
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.profileInfo li {
    list-style-type: none;
    padding: 15px;
    font-size: 30px;
}

#avatar {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    /* border: thin solid #113311; */
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.6);
}

.profileInfo div {
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

.tabs {
    /* background-color: red; */
    width: 700px;
}

.editCont {
    width: 50px;
    /* margin-bottom: 20px; */
    /* background-color: purple; */
    position: absolute;
    /* margin-top: 180px;
    margin-left: 160px; */
}

#editIcon {
    /* background-color: purple; */
    position: absolute;
    margin-top: 190px;
    margin-left: 170px;
    box-shadow: none;
    border-radius: 0;
    width: 25px;
    height: 25px;
    /* z-index: -1; */
}

#newPhoto {
    background-color: purple;
    /* z-index: 10; */
    width: 22px;
    margin-top: 195px;
    margin-left: 175px;
    opacity: 0;
}