.nav {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
    color: whitesmoke;
    box-shadow: 0 .25rem .5rem .25rem black;
    z-index: 20;
    font-family: 'Staatliches';
}

.nav h1 {
    cursor: pointer;
}

.nav ul {
    display: flex;
}

.nav li {
    padding: 0em 1em;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1em;
}

.nav h3 {
    cursor: pointer;
}
